{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock extra_head %}

{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <h1>{% trans "Sign In" %}</h1>
        
        {% if not SOCIALACCOUNT_ONLY %}
            {% setvar link %}
                <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
                </a>
            {% endsetvar %}
            <p>{% blocktranslate %}If you have not created an account yet, please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}</p>
            
            {% url 'account_login' as login_url %}
            {% element form form=form method="post" action=login_url tags="entrance,login" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                {% endelement %}
                <button type="submit" class="button">{% trans "Sign In" %}</button>
            {% endslot %}
            {% endelement %}
        {% endif %}

        {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
            <hr />
            <div class="button_group">
                {% if PASSKEY_LOGIN_ENABLED %}
                    <button type="submit" form="mfa_login" id="passkey_login" class="social-login-button">
                        {% trans "Sign in with a passkey" %}
                    </button>
                {% endif %}
                {% if LOGIN_BY_CODE_ENABLED %}
                    <a href="{{ request_login_code_url }}" class="button">
                        {% trans "Mail me a sign-in code" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
