/* Reset básico para remover margens e paddings padrão */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #f39c12; /* Laranja vibrante */
    --cor-hover: #d35400; /* Laranja mais escuro */
    --cor-fundo: #34495e; /* Azul escuro */
    --cor-letra: #ecf0f1; /* Branco claro */
    --cor-letra-hover: #ffffff; /* Branco puro */
    --fonte-primaria: 'Arial', sans-serif;
}

/* Estilo para o body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4 !important;
    color: #333;
    line-height: 1.6;
    height: 100vh;
}

/* Container principal da página */
.pagina {
    display: flex;
    flex-direction: column; 
}

/* Estilo para o cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo);
    padding: 10px 20px;
    color: var(--cor-letra-hover);
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.imagem_menu{
    width: 200px;  /* Limite máximo para a largura */
    height: 50px
}

.foto_usuario img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 1px solid var(--cor-letra);
}

/* Menu lateral */
#menu-container {
    position: relative;
}

.menu-lateral_navegacao {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    background-color: var(--cor-fundo);
    padding: 10px;
    left: 0;
    top: 0;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu-lateral_navegacao_texto {
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-letra);
    margin-bottom: 20px;
}

.menu-lateral_navegacao a {
    display: flex;
    align-items: center;
    color: var(--cor-letra);
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu-lateral_navegacao a:hover {
    background-color: var(--cor-hover);
    color: var(--cor-letra-hover);
}

.menu-lateral_navegacao a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu-lateral_navegacao_icon {
    font-size: 15px;
    font-weight: bold;
    font-family: var(--fonte-primaria);
}

/* Botão de toggle */
#toggleMenu {
    position: absolute;
    top: 25px;
    left: 250px; 
    transform: translateY(-50%);
    background-color: var(--cor-fundo);
    color: var(--cor-letra-hover);
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: left 0.3s ease;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    align-items: center;
    font-size: 25px;
}

#toggleMenu:hover {
    background-color: var(--cor-hover);
}

.menu-hidden {
    left: -250px;
}

.menu-hidden + #toggleMenu {
    left: 0; 
}

.Botaosair{
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Ajuste o tamanho da fonte */
    font-weight: bold; /* Torne o texto negrito */
    color: #ffffff; /* Cor do texto */
    background-color: #ff4d4d; /* Fundo vermelho */
    padding: 8px 16px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza as transições */
    margin-left: 20px; /* Espaço para afastar o botão do logo */
}
.Botaosair:hover{
    background-color: #cc0000; /* Cor do fundo ao passar o mouse */
    color: #ffffff; /* Mantém a cor do texto no hover */
}

.cabecalho_2{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-lateral_navegacao {
        width: 200px;
    }
    .conteudo {
        margin-left: 200px;
    }
    #toggleMenu {
        left: 200px;
    }
}
