{% extends 'construcmanager/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Lista de Clientes</h1>
    <a href="{% url 'criar_cliente' %}" class="btn btn-primary mb-3">Novo Cliente</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.cliente_nome }}</td>
                <td>{{ cliente.cliente_apelido }}</td>
                <td>{{ cliente.cliente_email }}</td>
                <td>
                    <a href="{% url 'atualizar_cliente' cliente.pk %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'deletar_cliente' cliente.pk %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum cliente encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginação -->
    <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center">
            {% if clientes.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}</span>
            </li>

            {% if clientes.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes.next_page_number }}">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes.paginator.num_pages }}">&raquo;&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">&raquo;&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
