{% extends 'construcmanager/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Lista de Vendas</h2>
    <a href="{% url 'nova_venda' %}" class="btn btn-primary mb-3">Nova Venda</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Total</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td>{{ venda.cliente.nome }}</td>
                <td>{{ venda.produto.nome }}</td>
                <td>{{ venda.quantidade }}</td>
                <td>R$ {{ venda.preco_total }}</td>
                <td>{{ venda.data_venda }}</td>
                <td>
                    <a href="{% url 'editar_venda' venda.id %}" class="btn btn-secondary">Editar</a>
                    <a href="{% url 'deletar_venda' venda.id %}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">Nenhuma venda encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginação -->
    <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center">
            {% if vendas.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ vendas.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Página {{ vendas.number }} de {{ vendas.paginator.num_pages }}</span>
            </li>

            {% if vendas.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ vendas.next_page_number }}">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ vendas.paginator.num_pages }}">&raquo;&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">&raquo;&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
