{% load static %}

<div class="pagina">
    <header class="cabecalho">
        <img class="imagem_menu" src="{% static '/assets/logo/Logo.svg'%}" alt="Logo Do Rui Barbosa"/>
        
        <div class="foto_usuario">
            <img src="{% static '/assets/icons/usuario.png'%}" alt="">
        </div>
    </header>
    <hr style="margin: 0;">

    <div id="menu-container">
        <nav class="menu-lateral_navegacao menu-hidden" id="menuLateral">
            <p class="menu-lateral_navegacao_texto">MENU PRINCIPAL</p>
            
            <a href="/construcmanager/clientes/"> <img src="{% static 'assets/icons/user-plus.svg' %}" alt="Ícone Cadastro Cliente"> 
                <span class="menu-lateral_navegacao_icon">Clientes</span>
            </a>
            
            <a href="/construcmanager/produtos"> <img src="{% static 'assets/icons/box.svg' %}" alt="Ícone Cadastro Produto"> 
                <span class="menu-lateral_navegacao_icon">Produtos</span>
            </a>
            
            <a href="/construcmanager/vendas"> <img src="{% static 'assets/icons/shopping-cart.svg' %}" alt="Ícone Vendas"> 
                <span class="menu-lateral_navegacao_icon">Vendas</span>
            </a>
            
            <a href="/construcmanager/fornecedores"> <img src="{% static 'assets/icons/shopping-bag.svg' %}" alt="Ícone Compras"> 
                <span class="menu-lateral_navegacao_icon">Fornecedores</span>
            </a>
            
            <a href="/construcmanager/estoque"> <img src="{% static 'assets/icons/warehouse.svg' %}" alt="Ícone Estoque"> 
                <span class="menu-lateral_navegacao_icon">Estoque</span>
            </a>
            
            <a href="/construcmanager/relatorios"> <img src="{% static 'assets/icons/bar-chart.svg' %}" alt="Ícone Relatórios"> 
                <span class="menu-lateral_navegacao_icon">Relatórios</span>
            </a>
        </nav>
        <div id="toggleMenu" onclick="toggleMenu()">&#9776;</div>
    </div>
</div>