{% extends 'construcmanager/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Lista de Produtos</h2>
    <a href="{% url 'cadastro_produtos' %}" class="btn btn-primary mb-3">Novo Produto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Marca</th>
                <th>Preço à Vista</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.produto_nome }}</td>
                <td>{{ produto.produto_marca }}</td>
                <td>R$ {{ produto.produto_preco_a_vista }}</td>
                <td>{{ produto.produto_quantidade_em_estoque }}</td>
                <td>
                    <a href="{% url 'atualizar_produto' produto.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'delete_produto' produto.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum produto encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Adição da paginação -->
    <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center">
            {% if produtos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primeira">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ produtos.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}</span>
            </li>

            {% if produtos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ produtos.next_page_number }}" aria-label="Próxima">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ produtos.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}